.menu {
  display: block;
  margin-top: 3em;
  overflow: hidden;
  position: relative;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid $color-lighter;
  border-top: 0;
  overflow: hidden;
  padding: .666em 1em;
  color: $color-medium;
  left: 0;
  background: $color-white;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  &:first-child {
    border-top: 1px solid $color-lighter;
  }

  &:last-child {
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      transition: color .125s ease-in-out, background .125s ease-in-out, transform .25s * $i ease-in-out;
      z-index: 10 - $i;

      body.preload & {
        transform: translateY(-101% * $i);
      }
    }
  }

  &:before {
    content: '';
    top: 0;
    left: -.2em;
    position: absolute;
    transition: left .125s ease-in-out;
    background: $color-cyan;
    @include size(.2em, 100%);
  }

  svg {
    width: .95em;
    margin-left: 1em;
    opacity: .666;
    transition: opacity .125s ease-in-out;

    path {
      fill: currentColor;
    }
  }

  span {
    font-size: .75em;
  }

  &:hover {
    color: $color-dark;
    background: rgba($color-cyan, .125);

    &:before {
      left: 0;
    }

    svg {
      opacity: 1;
    }
  }
}
