////
/// Typography styles
///
/// @since 9.0.0
////

body {
	color: $color-white;
	font: 200 3vh/1.35 $font-family-primary;
	letter-spacing: .7px;

}

a {
	color: $color-white;
	text-decoration: none;
	transition: all .2s linear;
}

p {
	color: rgba($color-white, .5);
	font: 300 .5em/1 $font-family-secondary;
	margin-bottom: 2vh;
	letter-spacing: 0.08em;

	@include d(mobile) {
		font-size: .55em;
	}
}

strong {
	font-weight: 300;
}
