// Typography
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

// Sizes
$font-size: 16px;
$line-height: 1.6;

// Colors
$color-white: #fff;
$color-black: #000;
$color-medium: #6a737d;

$color-light: #d1d5da;
$color-lighter: #e1e4e8;
$color-lightest: #fafbfc;

$color-dark: #444d56;
$color-darker: #2f363d;
$color-darkest: #24292e;

$color-blue: #0366d6;
$color-blue-lighter: #79b8ff;

$color-green: #28a745;
$color-green-lighter: #34d058;

$color-cyan: #00c1f3;
$color-magenta: #ec008c;
$color-yellow: #fff200;
