<section id="about">
    <h2>About</h2>
    <h4>Facts &amp; Figures.</h4>
    <img src="/images/chris_everson.png" alt="Chris Everson : Seattle, WA : Web Development">
    <p>Hi there, I&rsquo;m Chris. I compose beautiful code that feels more like Marvin Gay&rsquo;s Greatest Hits and less like a garbage disposal.</p>
    <p>I was first introduced to programming back in &rsquo;94 and soon after jumped into the web side of that world and haven&rsquo;t looked back. The endless learning necessitated by the ever-changing ways people use technology is my fuel.</p>
    <ul>
        <li id="breathing">I&rsquo;ve been breathing air for <span>{% include spinner.html %}</span> minutes.</li>
        <li id="residing">The Pacific Northwest has been my home for <span>{% include spinner.html %}</span> consecutive days.</li>
        <li id="collecting">And my record collection currently consists of <span>{% include spinner.html %}</span> albums.</li>
    </ul>
</section>