<section id="contact">
    <h2>Contact</h2>
    <h4>Carrier pigeons are so pass&eacute;.</h4>
    <div class="narrow">
        <p>Interested in having me bring your project to life? Fill out the form to the right or get ahold of me using any of the methods below and I&rsquo;ll get back to you as soon as I can.</p>
        <div>
            <p>
                <strong>email:</strong> <a href="mailto:hi@chriseverson.net">hi@chriseverson.net</a><br>
                <strong>phone:</strong> 206.317.1534<br>
                <strong>skype:</strong> chris-everson
            </p>
        </div>
    </div>
</section>