<section id="home">
    <div>
        <h1>Chris Everson</h1>
        <h3>Composing sexy code since before code was sexy.</h3>
    </div>
    <ul id="skills">
        <li>PHP</li><li>MySQL</li><li>Mobile</li><li>Javascript</li>
        <li>WordPress</li><li>E-Commerce</li><li>HTML5</li><li>CSS3</li>
        <li>jQuery</li><li>*NIX</li><li>API Integration</li><li>Imagination</li>
    </ul>
    <ul id="social">
        <li><a href="http://www.linkedin.com/in/chriseverson/" class="icon"><i>&#xF612;</i><span>LinkedIn</span></a></li>
        <li><a href="http://twitter.com/chriseverson" class="icon"><i>&#xF611;</i><span>Twitter</a></li>
        <li><a href="http://www.facebook.com/chriseverson.net/" class="icon"><i>&#xF610;</i><span>Facebook</a></li>
        <li><a href="http://github.com/chriseverson/" class="icon"><i>&#xF671;</i><span>GitHub</span></a></li>
    </ul>
</section>