<section id="work">
    <h2>Work</h2>
    <h4>The true champions.</h4>
    <div class="narrow">I&rsquo;ve worked on projects big and small for a variety of different folks. They&rsquo;re all awesome people and companies, here are a few:</div>
    <ul>
        <li><img src="/images/primer-grey.png" alt="Primer Grey"></li>
        <li><img src="/images/always-creative.png" alt="Always Creative"></li>
        <li><img src="/images/black-sheep.png" alt="Black Sheep"></li>
        <li><img src="/images/aiga-houston.png" alt="AIGA Houston"></li>
        <li><img src="/images/dumptruck-design.png" alt="Dumptruck Design"></li>
        <li><img src="/images/insperity.png" alt="Insperity"></li>
        <li><img src="/images/mxpx.png" alt="MxPx"></li>
        <li><img src="/images/full-quota.png" alt="Full Quota"></li>
        <li><img src="/images/mortar.png" alt="Mortar"></li>
        <li><img src="/images/houston-beer-week.png" alt="Houston Beer Week"></li>
    </ul>
</section>