// Header ***********************************

    $smallWidth: 84%;

@media (max-width: 900px) {


    // Header ***********************************

        header {
            &>div {
                width:$smallWidth;
            }
        }

    // Footer ***********************************

        footer {
            width:$smallWidth;
        }

    // Sections *********************************

        section {
            width:$smallWidth;
            .narrow {
                width:86%;
            }
        }

    // Home *************************************

        #home {
            padding:59px 0 0;
            div {
                display:block;
                width:100%;
            }
            h1 {
                font:80px/75px $alt;
            }
            #skills {
                width:560px;
                li {
                    width:175px;
                }
            }
        }

    // About ************************************

        #about {
            img {
                width:34%;
                padding:0;
                @include transform(rotate(0));
                margin:0;
                box-shadow:none;
                border:1px solid #bbb;
            }
            p {
                width:60%;
                margin-bottom:16px;
                clear:right;
                @extend .right;
            }
            ul {
                clear:both;
                padding:46px 0 0;
                text-align:center;
                font:22px/22px $alt;
                color:#aaa;
                li {
                    margin:0 0 22px;
                    span {
                        color:$link;
                    }
                }
            }
        }

}

@media (max-width: 680px) {

    // Home ************************************

        #home {
            #skills {
                width:86%;
                padding-right:5%;
                li {
                    width:45%;
                    display:block;
                    margin:0 0 0 5%;
                    &:nth-child(3) { border-top:0; }
                }
            }
        }

}

@media (max-width: 640px) {

        header {
            &>div {
                &>a {
                    position:static;
                    opacity:1;
                }
                #navTrigger {
                    display:block;
                    width:32px;
                    height:30px;
                    margin:12px 0;
                    float:right;
                    background:transparent;
                    cursor:pointer;
                    outline:0;
                    div {
                        display:block;
                        width:100%;
                        height:8px;
                        background:#444;
                        margin:3px 0 0;
                        &:first-child { margin:0; }
                    }
                }
                nav {
                    display:none;
                    float:none;
                    width:100%;
                    background:#f6f6f6;
                    clear:both;
                    border-bottom:1px solid #bbb;
                    border-top:1px solid #bbb;
                    padding:20px 0;
                    box-shadow:0px 4px 6px 0px rgba(0,0,0,0.12);
                    a {
                        display:block;
                        font-size:18px;
                        margin-left:0;
                        text-align:center;
                        &.active {
                            color:$link;
                        }

                    }
                }
            }

        }

        #home {
            padding:59px 0 0;
            h1 {
                font:65px/40px $alt;
                margin-bottom:20px;
            }
            h3 {
                font:16px/16px $lucida-grande;
                color:#666;
                text-align:center;
            }
        }

}

@media (max-width: 400px) {

    header {
        &>div {
            &>a, &>span {
                &#sea {
                    display:none;
                }
            }
        }
    }

        // Home *********************************

        #home {
            padding:59px 0 0;
            #skills {
                display:block;
                font:14px/32px $helvetica;
                @include clearfix;
                li {
                    &:nth-child(2) {
                        // border-top:0;
                    }
                }
            }
            #social {
                li {
                    width:25%;
                }
            }
        }

}









            // #navTrigger {
            //     display:block;
            //     background:#c00;
            //     width:32px;
            //     height:30px;
            //     margin:12px 0;
            //     float:right;
            //     div {
            //         display:block;
            //         width:100%;
            //         height:8px;
            //         background:#444;
            //         margin:3px 0 0;
            //         &:first-child { margin:0; }
            //     }

            // }