////
/// Style setting and variables
///
/// @since 9.0.0
////

// Colors
$color-black: #222;
$color-white: #fff;

// Typography
$font-family-primary: 'Noto Serif SC', serif;
$font-family-secondary: 'Roboto', sans-serif;

// Grid library
$adapt-grid-max-width: 770px;