////
/// Style setting and variables
///
/// @since 9.0.0
////

// Colors
$color-black: #222;
$color-white: #fff;

// Typography
// $font-family-primary: 'Noto Serif TC', serif;
// $font-family-secondary: 'Inconsolata', sans-serif;
$font-family-primary: 'Noto Serif SC', serif;
$font-family-secondary: 'Noto Sans SC', sans-serif;

// Grid library
$adapt-grid-max-width: 770px;