<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chris Everson • Software Engineer</title>
    <meta name="description" content="Chris Everson is a software engineer based in Melbourne with an emphasis on crafting elegant web-based solutions.">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="apple-touch-icon" sizes="180x180" href="/browser/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/browser/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/browser/favicon-16x16.png">
    <link rel="manifest" href="/browser/site.webmanifest">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28609729-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-28609729-1');
    </script>
</head>
<body class="preload">
    <div class="app">
        <%= require('html-loader!./views/card.html') %>
    </div>
    <%= require('html-loader!./views/footer.html') %>
</body>
</html>
