////
/// Homepage styles
///
/// @since 9.0.0
////

main, footer {
	position: absolute;
	width: 80%;
	max-width: 80vh;
	transform: translateX(-50%);
	left: 50%;
}

main {
	top: 10%;
	padding-bottom: 15vh;

	@include d(mobile) {
		top: 10vw;
	}

	h1, h2, h3 {
		display: inline;
	}

	div {
		font-size: 5vh;
		line-height: 1.5;
		margin-bottom: 10vh;
		transition: opacity .3s linear;

		body.preload & { opacity: 0; }

		@include d(mobile) {
			font-size: 4vh;

			br {
				display: none;
			}
		}
	}

	strong {
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	a {
		color: inherit;

		&:hover {
			color: $color-white;

			svg path {
				fill: $color-white;
			}
		}

		svg {
			@include size(auto, .7em);

			path {
				transition: fill .25s linear;
				fill: rgba($color-white, .5);
			}
		}
	}

	p {
		transition: opacity .3s linear;
		transition-delay: 1s;
		display: flex;

		body.preload & {
			opacity: 0;
		}

		strong {
			flex-basis: 110px;

			@include mobile {
				flex-basis: 86px;
			}
		}

		&:nth-child(2) {
			transition-delay: .5s;
		}

		&:nth-child(3) {
			font-size: .4em;
		}
	}
}

footer {
	bottom: 0;
	font-size: 3vh;
	line-height: 10vh;
	height: 10vh;
	border-top: 1px solid rgba($color-white, .1);
	transition: border .25s linear;
	transition-delay: 1.25s;

	body.preload & {
		border-color: rgba($color-white, 0);
	}

	a {
		color: rgba($color-white, .1);
		display: inline-block;
		margin: 0 3vh 0 0;
		transition: opacity .2s linear;

		body.preload & {
			opacity: 0;
		}

		&:hover {
			color: $color-white;
		}

		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				transition-delay: 1.25s + (.2s * $i);
			}
		}
	}
}
